<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="#{vets}">List all Owner...</h1>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th th:text="#{properties_default.id}">Id</th>
        <th th:text="#{properties_default.first_name}">First Name</th>
        <th th:text="#{properties_default.last_name}">Last Name</th>
        <th th:text="#{properties_default.action}">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.firstName}"></td>
        <td th:text="${item.lastName}"></td>
        <td><a th:href="${'/vets/'+ item.id}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>